<% layout('/layouts/boilerplate.ejs') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h1>SignUp on Wanderlust</h1>
        <form action="/signup" method="post"  novalidate
        class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Title</label>
                <input
                  type="text"
                  name="username" 
                  id = 'username'
                  placeholder="username"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Please choose a username.</div>
              </div>
              


              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  name="email"
                  placeholder="student@gmail.com"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Please enter a email.</div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  name="password"
                  placeholder="*********"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Please enter a valid password.</div>
              </div>

              <button class="btn btn-success">SignUp</button>
        </form>
    </div>
  </div>
</body>
